// .page__detail
    
    .detail_banner_bg
      width 100%
      height 160px
      display inline-block
      background-position center center
      background-repeat no-repeat
      background-size cover
      
    .detail_summary
        padding 12px
        border-bottom 2px solid #666
        
    .detail_nowOpened
        position absolute
        top 0px
        right 0px

    .detail_title
        font-size 16px
        font-weight 700
    
    .detail_location
        position relative
        padding 12px
        text-align center
        border-bottom 2px solid #666

        &:before 
            retina_sprite($sprite_map, 64 / 20)
            content " "
            display inline-block
            position absolute
            top 22px
            left 10px

        &:after 
            retina_sprite($sprite_forward)
            content " "
            display inline-block
            position absolute
            top 24px
            right 8px
        
        .detail_location_link
            display inline-block
            width 80%
            line-height 40px
            text-decoration none
            color #fff
        
        p
            width 100%
            ellipsis()

    .detail_table
        position relative
        display table
        height 40px
        width 100%

    .detail_middle
        display table-cell
        position relative
        vertical-align middle

    .detail_right
        width 40px
        display table-cell
        position relative
        vertical-align middle
        text-align right
        
    .detail_main
        padding 12px
        
        h3, p
            margin 8px 0
            
        p 
            word-break break-all

        a
            text-decoration underline
        
        ul 
            list-style disc
        ol
            padding 0
            list-style decimal

        li
            border none
            padding 0
            margin 4px 0
            list-style-position inside

        dl
            border none
            
    .detail_description
        padding 12px
        border-top 2px solid #666
            
    .detail_sns_wrap
        margin-top 12px
        padding 8px 0 0 0
        text-align right
        a
            margin 0 4px
            
    .detail_michelin
        line-height 32px

        .detail_michelin_label, .icon_star
            display inline-block
            vertical-align middle

    .detail_footer
        // position fixed
        // bottom 0
        width 100%
    
