.page__login
    padding 4px
    text-align center
    
    .login_titleWrap
    
        .login_title
            margin 20px 0 8px 0
            font-size 18px

    .login_content
        margin 40px
    
        .login_btnWrap
            margin 20px 0
            