.page__queries
    .queries_form
        margin 24px

        .queries_item_wrap
            margin 12px 0
            
            .queries_item_label
                margin 4px 0
            
            // .queries_item_select

            // .queries_item_input
            select, input[type='text']
                width 100%
        