.page__reserve

  input, textarea
    border 1px solid #ddd
    color #333
    display inline-block
    font-family cabin !important
    font-size 14px
    letter-spacing 1px
    padding 8px
    width 100%
    box-shadow 0 1px 5px rgba(0, 0, 0, 0.1)

    &:focus
      border-color 1px solid #b5861d

  .reserve_user_form_input
    margin 8px