<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header %>
</head>
<body id="app">

  <!-- Slide Nav -->
  <nav class="component__nav" id="menu">
    <component-nav></component-nav>
  </nav>

  <!-- Main -->
  <main v-cloak id="main">

    <!-- Header -->
    <haeder class="component__header">
      <component-header></component-header>
    </haeder>

    <!-- Page Content -->
    <div class="component__main container">
      <component is="{{currentView}}" keep-alive="true" v-ref="main"></component>
    </div>
    
    <!-- Footer -->
    <footer class="component__footer">
      <component-footer></component-footer>
    </footer>

  </main>

  <!-- script -->
  <% include partials/scripts %>
</body>
</html>