.btn_large
  width 100%
  line-height 60px
  font-size 18px
  text-align center

.btn_submit_queries
  background-color #217ffa
    
.btn_submit_menu
  background-color #217ffa
  
.btn_submit_reserve
  background-color #b5861d
