.component__card
    text-decoration none
    color #fff
    
    .card_wrap
        height 200px
        position relative
    
    .card_main
        height 60px
        position absolute
        width 100%
        bottom 0
        gradient_card()
        display table
        
    .card_middle
        display table-cell
        position relative
        vertical-align middle
        padding 13px 15px 8px

    .card_right
        display table-cell
        position relative
        vertical-align middle
        padding 13px 15px 8px
        
    .card_title
        font-size 16px
        display inline-block
        max-width 220px
        overflow hidden
        text-overflow ellipsis
        white-space nowrap

    .card_bg
        background-position center center
        background-repeat no-repeat
        background-size cover
        height 100%
        position relative
        width 100%
        