.component__card
    text-decoration none
    color #fff
    
    .card_wrap
        height 200px
        position relative
    
    .card_main
        height 60px
        position absolute
        width 100%
        bottom 0
        gradient_card()
        display table
        table-layout fixed
        
    .card_middle
        display table-cell
        position relative
        vertical-align middle
        padding 12px 15px

    .card_right
        display table-cell
        position relative
        vertical-align middle
        padding 12px 15px
        text-align right
        width 20px
        
    .card_priceRange
        position absolute
        right 16px
        bottom 12px
        
    .card_title
        font-size 16px
        ellipsis()

    .card_bg
        background-position center center
        background-repeat no-repeat
        background-size cover
        height 100%
        position relative
        width 100%
        