.component__header
    height 44px
    display block
    background-color #000

    .header_wrap
        height 44px
        border-bottom-width 1px
        border-top-width 0
        position relative
        width 100%

    .header_title
        height 43px
        line-height 44px
        margin 0 auto
        min-width 30px
        overflow hidden
        text-align center
        white-space nowrap
        
        span
            font-size 18px
            font-weight 500
            text-overflow ellipsis
            
        select
            font-size 17px
            width 100px

    .button_left
        bottom 5px
        position absolute
        left 5px
        top 5px        

    .button_right
        bottom 5px
        position absolute
        right 5px
        top 5px
    
    a.button_left, a.button_right
        line-height 30px
        font-size 14px
        text-decoration none
        color #fff
