/*
  Icon
*/

.icon_logo
    retina_sprite($sprite_logo_s)
    // background-image url(../img/logo_s.png)
    // background-size 162px 32px
    // width 162px
    // height 32px
    display block

.icon_menu
    retina_sprite($sprite_menu)
    // background-image url(../img/icons/menu.png)
    // background-size 32px 32px
    // width 32px
    // height 32px
    
.icon_back
    retina_sprite($sprite_back)
    // background-image url(../img/icons/back.png)
    // background-size 32px 32px
    // width 32px
    // height 32px

.icon_calendar
    retina_sprite($sprite_calendar)
    // background-image url(../img/icons/calendar.png)
    // background-size 32px 32px
    // width 32px
    // height 32px

.icon_close
    retina_sprite($sprite_close)
    // background-image url(../img/icons/close.png)
    // background-size 32px 32px
    // width 32px
    // height 32px

.icon_favorite_blank
    retina_sprite($sprite_favorite_blank, 64 / 20)
    // background-image url(../img/icons/favorite_blank.png)
    // background-size 20px 20px
    // width 20px
    // height 20px
    margin 4px
    display inline-block

.icon_favorite
    retina_sprite($sprite_favorite_fill, 64 / 20)
    // background-image url(../img/icons/favorite_fill.png)
    // background-size 20px 20px
    // width 20px
    // height 20px
    margin 4px
    display inline-block

.icon_location
    retina_sprite($sprite_location)
    // background-image url(../img/icons/location.png)
    // background-size 32px 32px
    // width 32px
    // height 32px

.icon_map
    retina_sprite($sprite_map)
    // background-image url(../img/icons/map.png)
    // background-size 32px 32px
    // width 32px
    // height 32px

.icon_list
    retina_sprite($sprite_list)
    // background-image url(../img/icons/list.png)
    // background-size 32px 32px
    // width 32px
    // height 32px

.icon_open_now
    retina_sprite($sprite_open_now)
    // background-image url(../img/icons/open_now.png)
    // background-size 32px 32px
    // width 32px
    // height 32px

.icon_star
    retina_sprite($sprite_star, 64 / 20)
    // background-image url(../img/icons/star.png)
    // background-size 20px 20px
    // width 20px
    // height 20px
    display inline-block

.icon_sns_fb
    retina_sprite($sprite_sns_fb_64)
    // width 32px
    // height 32px
    // background-image url(../img/icons/sns_fb_64.png)
    // background-size 32px 32px
    padding 0
    display inline-block
    margin 0 8px

.icon_sns_tw
    retina_sprite($sprite_sns_tw_64)
    // width 32px
    // height 32px
    // background-image url(../img/icons/sns_tw_64.png)
    // background-size 32px 32px
    padding 0
    display inline-block
    margin 0 8px

.icon_loading
    background-image url(../img/icons/loading.gif)
    background-size 32px 32px
    width 32px
    height 32px
    display: inline-block;
    margin: 4px;

.icon_profile
    img
        width 32px
        height 32px
        border-radius 100%
        
.icon_large
    img
        width 48px
        height 48px
