/*
  Icon
*/

.icon_menu
    background-image url(../img/icons/menu.png)
    background-size 32px 32px
    width 32px
    height 32px
    
.icon_back
    background-image url(../img/icons/back.png)
    background-size 32px 32px
    width 32px
    height 32px

.icon_calendar
    background-image url(../img/icons/calendar.png)
    background-size 32px 32px
    width 32px
    height 32px

.icon_close
    background-image url(../img/icons/close.png)
    background-size 32px 32px
    width 32px
    height 32px

.icon_favorite_blank
    background-image url(../img/icons/favorite_blank.png)
    background-size 20px 20px
    width 20px
    height 20px
    display inline-block

.icon_favorite
    background-image url(../img/icons/favorite_blank.png)
    background-size 20px 20px
    width 20px
    height 20px
    display inline-block

.icon_location
    background-image url(../img/icons/location.png)
    background-size 32px 32px
    width 32px
    height 32px

.icon_map
    background-image url(../img/icons/map.png)
    background-size 32px 32px
    width 32px
    height 32px

.icon_profile
    img
        width 32px
        height 32px
        border-radius 100%
