/*
  Icon
*/

.icon_logo
    background-image url(../img/logo_s.png)
    background-size 162px 32px
    width 162px
    height 32px
    display inline-block

.icon_menu
    background-image url(../img/icons/menu.png)
    background-size 32px 32px
    width 32px
    height 32px
    
.icon_back
    background-image url(../img/icons/back.png)
    background-size 32px 32px
    width 32px
    height 32px

.icon_calendar
    background-image url(../img/icons/calendar.png)
    background-size 32px 32px
    width 32px
    height 32px

.icon_close
    background-image url(../img/icons/close.png)
    background-size 32px 32px
    width 32px
    height 32px

.icon_favorite_blank
    background-image url(../img/icons/favorite_blank.png)
    background-size 24px 24px
    width 24px
    height 24px
    margin 4px
    display inline-block

.icon_favorite
    background-image url(../img/icons/favorite_fill.png)
    background-size 24px 24px
    width 24px
    height 24px
    margin 4px
    display inline-block

.icon_location
    background-image url(../img/icons/location.png)
    background-size 32px 32px
    width 32px
    height 32px

.icon_map
    background-image url(../img/icons/map.png)
    background-size 32px 32px
    width 32px
    height 32px

.icon_list
    background-image url(../img/icons/list.png)
    background-size 32px 32px
    width 32px
    height 32px

.icon_profile
    img
        width 32px
        height 32px
        border-radius 100%
        
.icon_large
    img
        width 48px
        height 48px

.icon_sns_fb
    display inline-block
    width 32px
    height 32px
    margin 0 auto
    padding 0
    background-image url(../img/icons/sns_fb_64.png)
    background-size 32px 32px
    margin 0 8px

.icon_sns_tw
    display inline-block
    width 32px
    height 32px
    margin 0 auto
    padding 0
    background-image url(../img/icons/sns_tw_64.png)
    background-size 32px 32px
    margin 0 8px

.icon_loading
    background-image url(../img/icons/loading.gif)
    background-size 32px 32px
    width 32px
    height 32px
    display: inline-block;
    margin: 4px;


.icon_open_now
    background-image url(../img/icons/open_now.png)
    background-size 32px 32px
    width 32px
    height 32px

.icon_open_now
    background-image url(../img/icons/open_now.png)
    background-size 32px 32px
    width 32px
    height 32px

.icon_star
    background-image url(../img/icons/star.png)
    background-size 20px 20px
    width 20px
    height 20px
    display inline-block