.component__mapCard
    color #fff

    .card_bg
        float left
        width 30%
        height 60px
        background-position center center
        background-repeat no-repeat
        background-size cover

    .card_main
        float left
        width 70%
        height 60px
        
        .card_middle
            line-height 20px
            margin 10px
    
    .card_title
        font-weight bold
        ellipsis()

    .card_info
        ellipsis()
        