.component__nav
    .nav_logo
        height 40px
        
    .nav_menu
        ul
            border-top 1px solid #eee
            
        li
            position relative
            padding 8px
            line-height 32px
            border-bottom 1px solid #eee

        a
            display inline-block
            width 100%
            color #fff
            text-decoration none
        
        span
            position absolute
            right 8px
            top 8px