/*! social */
/* login */
.FbBtn
    background-color #3b5998
    height 45px
    display inline-block
    position relative
    text-decoration none
    border-radius(2px)
    margin 4px 0
    width 200px
    // border-radius(8px)
 
.FbBtn:after
    content ""
    position absolute
    top 12px
    left 12px
    width 20px
    height 20px
    background-image url('https://www.facebookbrand.com/img/facebook.icon.png')
    background-repeat no-repeat
    background-size 20px 20px
 
.FbBtnLabel
    color #ffffff
    position relative
    top 13px
    text-align center
    margin 0 20px 0 50px

.TwBtn
    background-color #55acee
    height 45px
    display inline-block
    position relative
    text-decoration none
    border-radius(2px)
    margin 4px 0
    // border-radius(8px)
 
.TwBtn:after
    content ""
    position absolute
    top 8px
    left 8px
    width 32px
    height 32px
    background-image url('/img/TwitterLogo_white.png')
    background-repeat no-repeat
    background-size 32px 32px
 
.TwBtnLabel
    color #ffffff
    position relative
    top 13px
    text-align center
    margin 0 20px 0 50px

.TownHuntBtn
    background-color #ecabe3
    height 45px
    display inline-block
    position relative
    text-decoration none
    border-radius(2px)
    margin 4px 0
    width 200px
    // border-radius(8px)
 
.TownHuntBtn:after
    content ""
    position absolute
    top 12px
    left 12px
    width 20px
    height 20px
    // background-image url('https://www.facebookbrand.com/img/facebook.icon.png')
    // background-repeat no-repeat
    // background-size 20px 20px
 
.TownHuntBtnLabel
    color #ffffff
    position relative
    top 13px
    text-align center
    margin 0 20px 0 50px