/*! table */
dl
    margin-bottom 0
    border-bottom 1px solid #fff

    dt
        float left
        clear left
        width 20%
        font-weight 500
        padding 12px

    dd
        margin-left 110px
        // width 80%
        padding 12px
        font-weight 700
        word-break break-all
        
        a:link, a:visited
            text-decoration underline
