/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$sprite_back_name = 'sprite-back';
$sprite_back_x = 225px;
$sprite_back_y = 212px;
$sprite_back_offset_x = -225px;
$sprite_back_offset_y = -212px;
$sprite_back_width = 65px;
$sprite_back_height = 65px;
$sprite_back_total_width = 462px;
$sprite_back_total_height = 352px;
$sprite_back_image = '../img/sprites.png';
$sprite_back = 225px 212px -225px -212px 65px 65px 462px 352px '../img/sprites.png' 'sprite-back';
$sprite_calendar_name = 'sprite-calendar';
$sprite_calendar_x = 334px;
$sprite_calendar_y = 0px;
$sprite_calendar_offset_x = -334px;
$sprite_calendar_offset_y = 0px;
$sprite_calendar_width = 128px;
$sprite_calendar_height = 128px;
$sprite_calendar_total_width = 462px;
$sprite_calendar_total_height = 352px;
$sprite_calendar_image = '../img/sprites.png';
$sprite_calendar = 334px 0px -334px 0px 128px 128px 462px 352px '../img/sprites.png' 'sprite-calendar';
$sprite_close_name = 'sprite-close';
$sprite_close_x = 138px;
$sprite_close_y = 74px;
$sprite_close_offset_x = -138px;
$sprite_close_offset_y = -74px;
$sprite_close_width = 128px;
$sprite_close_height = 128px;
$sprite_close_total_width = 462px;
$sprite_close_total_height = 352px;
$sprite_close_image = '../img/sprites.png';
$sprite_close = 138px 74px -138px -74px 128px 128px 462px 352px '../img/sprites.png' 'sprite-close';
$sprite_favorite_blank_name = 'sprite-favorite_blank';
$sprite_favorite_blank_x = 300px;
$sprite_favorite_blank_y = 212px;
$sprite_favorite_blank_offset_x = -300px;
$sprite_favorite_blank_offset_y = -212px;
$sprite_favorite_blank_width = 65px;
$sprite_favorite_blank_height = 65px;
$sprite_favorite_blank_total_width = 462px;
$sprite_favorite_blank_total_height = 352px;
$sprite_favorite_blank_image = '../img/sprites.png';
$sprite_favorite_blank = 300px 212px -300px -212px 65px 65px 462px 352px '../img/sprites.png' 'sprite-favorite_blank';
$sprite_favorite_fill_name = 'sprite-favorite_fill';
$sprite_favorite_fill_x = 0px;
$sprite_favorite_fill_y = 212px;
$sprite_favorite_fill_offset_x = 0px;
$sprite_favorite_fill_offset_y = -212px;
$sprite_favorite_fill_width = 65px;
$sprite_favorite_fill_height = 65px;
$sprite_favorite_fill_total_width = 462px;
$sprite_favorite_fill_total_height = 352px;
$sprite_favorite_fill_image = '../img/sprites.png';
$sprite_favorite_fill = 0px 212px 0px -212px 65px 65px 462px 352px '../img/sprites.png' 'sprite-favorite_fill';
$sprite_forward_name = 'sprite-forward';
$sprite_forward_x = 408px;
$sprite_forward_y = 138px;
$sprite_forward_offset_x = -408px;
$sprite_forward_offset_y = -138px;
$sprite_forward_width = 32px;
$sprite_forward_height = 32px;
$sprite_forward_total_width = 462px;
$sprite_forward_total_height = 352px;
$sprite_forward_image = '../img/sprites.png';
$sprite_forward = 408px 138px -408px -138px 32px 32px 462px 352px '../img/sprites.png' 'sprite-forward';
$sprite_list_name = 'sprite-list';
$sprite_list_x = 150px;
$sprite_list_y = 212px;
$sprite_list_offset_x = -150px;
$sprite_list_offset_y = -212px;
$sprite_list_width = 65px;
$sprite_list_height = 65px;
$sprite_list_total_width = 462px;
$sprite_list_total_height = 352px;
$sprite_list_image = '../img/sprites.png';
$sprite_list = 150px 212px -150px -212px 65px 65px 462px 352px '../img/sprites.png' 'sprite-list';
$sprite_location_name = 'sprite-location';
$sprite_location_x = 0px;
$sprite_location_y = 74px;
$sprite_location_offset_x = 0px;
$sprite_location_offset_y = -74px;
$sprite_location_width = 128px;
$sprite_location_height = 128px;
$sprite_location_total_width = 462px;
$sprite_location_total_height = 352px;
$sprite_location_image = '../img/sprites.png';
$sprite_location = 0px 74px 0px -74px 128px 128px 462px 352px '../img/sprites.png' 'sprite-location';
$sprite_logo_s_name = 'sprite-logo_s';
$sprite_logo_s_x = 0px;
$sprite_logo_s_y = 0px;
$sprite_logo_s_offset_x = 0px;
$sprite_logo_s_offset_y = 0px;
$sprite_logo_s_width = 324px;
$sprite_logo_s_height = 64px;
$sprite_logo_s_total_width = 462px;
$sprite_logo_s_total_height = 352px;
$sprite_logo_s_image = '../img/sprites.png';
$sprite_logo_s = 0px 0px 0px 0px 324px 64px 462px 352px '../img/sprites.png' 'sprite-logo_s';
$sprite_map_name = 'sprite-map';
$sprite_map_x = 375px;
$sprite_map_y = 212px;
$sprite_map_offset_x = -375px;
$sprite_map_offset_y = -212px;
$sprite_map_width = 65px;
$sprite_map_height = 65px;
$sprite_map_total_width = 462px;
$sprite_map_total_height = 352px;
$sprite_map_image = '../img/sprites.png';
$sprite_map = 375px 212px -375px -212px 65px 65px 462px 352px '../img/sprites.png' 'sprite-map';
$sprite_menu_name = 'sprite-menu';
$sprite_menu_x = 0px;
$sprite_menu_y = 287px;
$sprite_menu_offset_x = 0px;
$sprite_menu_offset_y = -287px;
$sprite_menu_width = 65px;
$sprite_menu_height = 65px;
$sprite_menu_total_width = 462px;
$sprite_menu_total_height = 352px;
$sprite_menu_image = '../img/sprites.png';
$sprite_menu = 0px 287px 0px -287px 65px 65px 462px 352px '../img/sprites.png' 'sprite-menu';
$sprite_open_now_name = 'sprite-open_now';
$sprite_open_now_x = 75px;
$sprite_open_now_y = 212px;
$sprite_open_now_offset_x = -75px;
$sprite_open_now_offset_y = -212px;
$sprite_open_now_width = 65px;
$sprite_open_now_height = 65px;
$sprite_open_now_total_width = 462px;
$sprite_open_now_total_height = 352px;
$sprite_open_now_image = '../img/sprites.png';
$sprite_open_now = 75px 212px -75px -212px 65px 65px 462px 352px '../img/sprites.png' 'sprite-open_now';
$sprite_sns_fb_64_name = 'sprite-sns_fb_64';
$sprite_sns_fb_64_x = 334px;
$sprite_sns_fb_64_y = 138px;
$sprite_sns_fb_64_offset_x = -334px;
$sprite_sns_fb_64_offset_y = -138px;
$sprite_sns_fb_64_width = 64px;
$sprite_sns_fb_64_height = 64px;
$sprite_sns_fb_64_total_width = 462px;
$sprite_sns_fb_64_total_height = 352px;
$sprite_sns_fb_64_image = '../img/sprites.png';
$sprite_sns_fb_64 = 334px 138px -334px -138px 64px 64px 462px 352px '../img/sprites.png' 'sprite-sns_fb_64';
$sprite_sns_tw_64_name = 'sprite-sns_tw_64';
$sprite_sns_tw_64_x = 150px;
$sprite_sns_tw_64_y = 287px;
$sprite_sns_tw_64_offset_x = -150px;
$sprite_sns_tw_64_offset_y = -287px;
$sprite_sns_tw_64_width = 64px;
$sprite_sns_tw_64_height = 64px;
$sprite_sns_tw_64_total_width = 462px;
$sprite_sns_tw_64_total_height = 352px;
$sprite_sns_tw_64_image = '../img/sprites.png';
$sprite_sns_tw_64 = 150px 287px -150px -287px 64px 64px 462px 352px '../img/sprites.png' 'sprite-sns_tw_64';
$sprite_star_name = 'sprite-star';
$sprite_star_x = 75px;
$sprite_star_y = 287px;
$sprite_star_offset_x = -75px;
$sprite_star_offset_y = -287px;
$sprite_star_width = 65px;
$sprite_star_height = 65px;
$sprite_star_total_width = 462px;
$sprite_star_total_height = 352px;
$sprite_star_image = '../img/sprites.png';
$sprite_star = 75px 287px -75px -287px 65px 65px 462px 352px '../img/sprites.png' 'sprite-star';
$spritesheet_width = 462px;
$spritesheet_height = 352px;
$spritesheet_image = '../img/sprites.png';
$spritesheet_sprites = $sprite_back $sprite_calendar $sprite_close $sprite_favorite_blank $sprite_favorite_fill $sprite_forward $sprite_list $sprite_location $sprite_logo_s $sprite_map $sprite_menu $sprite_open_now $sprite_sns_fb_64 $sprite_sns_tw_64 $sprite_star;
$spritesheet = 462px 352px '../img/sprites.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
