  <meta charset="UTF-8">
  <title>TownHunt Tokyo</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="description" content="TownHunt Tokyo is your mobile concierge for discovering the best local restaurants in Tokyo.">
  <meta name="keywords" content="Japan, Tokyo, ramen, restaurants, travel, sushi, japanese, jiro, shibuya, Shinjuku, Roppongi, ginza">
  <meta property="og:title" content="TownHunt Tokyo" >
  <meta property="og:type" content="product" />
  <meta property="og:description" content="TownHunt Tokyo is your mobile concierge for discovering the best local restaurants in Tokyo." />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="TownHunt Tokyo" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@townhunt_tokyo" />
  <!-- <link rel="shortcut icon" href="./favicon.ico" /> -->
  <link href='//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/app.css" />